# Node
node_modules/
dist/
build/
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Env files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker (optional)
docker-compose.override.yml

# Logs
logs/
*.log